<h2>会員編集画面</h2>

    <%= form_for(@customer, url: admin_customer_path(@customer.id)) do |f| %>
    <table>
        <tr>
            <td>氏名　</td>
            <td>
                <%= f.text_field :last_name %> <%= f.text_field :first_name %>
            </td>
        </tr>
        <tr>
            <td>フリガナ　</td>
            <td>
                <%= f.text_field :last_name_kana %> <%= f.text_field :first_name_kana %>
            </td>
        </tr>
        <tr>
            <td>郵便番号　</td>
            <td>
                <%= f.text_field :zipcode %>
            </td>
        </tr>
        <tr>
            <td>住所　</td>
            <td>
                <%= f.text_area :address %>
            </td>
        </tr>
        <tr>
            <td>電話番号　</td>
            <td>
                <%= f.text_field :phone_number %>
            </td>
        </tr>
        <tr>
            <td>メールアドレス　</td>
            <td>
                <%= f.email_field :email %>
            </td>
        </tr>
    </table>
    <p class="btn btn-danger">退会済にする(確認ログ) ＊未完</p>
    <%= f.submit "変更を保存する",class:"btn btn-md btn-primary" %>
    <% end %>