<%= render 'layouts/c_header' %>
<div class="container">
    <h3>注文情報確認</h3>
    <table class="table table-bordered text-center">
        <thead>
            <tr>
                <th>商品名</th>
                <th>単価(税)</th>
                <th>数量</th>
                <th>小計</th>
            </tr>
        </thead>
        <!-- 関数 get_product/tax_includeはcart.rb/product.rbに定義 -->
        <% @total_price = 0 %>
        <tbody>
            <% (@carts).each do |cart| %>
            <tr>
                <td class="align-middle">
                    <%= attachment_image_tag cart.get_product , :product_image, :fill,60,60 %>
                    <%= cart.get_product.product_name %>
                </td>
                <td class="align-middle">
                    <%= cart.get_product.tax_include.floor %>
                <td class="align-middle">
                    <%= cart.number.floor %>
                </td>
                <td class="align-middle">
                    <%= (cart.get_product.tax_include * cart.number).floor %>
                </td>
            </tr>
            <% @total_price += cart.product.tax_include   * cart.number
        %>
            <% end %>
        </tbody>
    </table>
    <table class="table table-bordered text-center">
        <tr>
            <td>送料</td>
            <td>800</td>
        </tr>
        <tr>
            <td>商品合計</td>
            <td>
                <%= @total_price.floor %>
            </td>
        </tr>
        <tr>
            <td>請求金額</td>
            <td>
                <%= (@total_price + 800).floor %>
            </td>
        </tr>
    </table>
    <div class="important info mt-5">
        <h5>支払方法</h5>
        <p>
            <%= @order_history.payment_method_i18n %>
        </p>
        <h5>お届け先</h5>
        <p>
            <%= @order_history.zipcode %>
            <%= @order_history.address %>
            <%= @order_history.name %>
        </p>

        <%= form_for(@order_history,url: order_histories_path, method: :post) do |f| %>
        <%= f.hidden_field :payment_method, :value => @order_history.payment_method %>
        <%= f.hidden_field :customer_id, :value => current_customer.id %>
        <%= f.hidden_field :zipcode, :value => @order_history.zipcode %>
        <%= f.hidden_field :address, :value => @order_history.address %>
        <%= f.hidden_field :name, :value => @order_history.name %>
        
        <%= f.fields_for :order_details do |dt| %>
        <%= dt.hidden_field :order_history_id%>
        <%= dt.hidden_field :product_id %>
        <%= dt.hidden_field :tax_included%>
        <%= dt.hidden_field :number %>
        <%= dt.hidden_field :prepare_status %>

        <% end %>
        <%= hidden_field_tag :selected_button, @selected_button %>
        <%= f.submit "購入を確定する", class:'btn btn-md btn-primary mt-2' %>
        <% end %>
    </div>
</div>
<!-- 注文情報確認画面は複数のカートの情報を扱うので、showページではない。Confirmアクション等を作るのが○
 -->
<!--  Cartssコントローラのnewアクションは要修正 -->
<!-- 注文情報確認テーブルの情報は全て、Cartsモデルと紐づいているため、Cartsモデルから作ったインスタンス変数を用いて、each文で表示させる -->
<!-- 税金カラムは作った方が良い。作るなら、注文履歴テーブル
税金は初期値を入力する -->
<!-- 演算の記述方法は２つある。Viewにベタ書きするか、Controllerに変数を定義して、Viewで表示させるか -->