<%= render 'layouts/c_header' %>
<div class="container">
    <h3 class="mb-4">購入情報入力</h3>
    <%= form_for(@order_history,url: carts_confirm_path,method: :get) do |f| %>
    <h4>支払方法入力</h4>
    <!-- enum(見た目は文字列、integerとして管理できる)を使用 -->
    <label>
        <%= f.radio_button :payment_method, :credit %>クレジットカード
    </label>
    <label>
        <%= f.radio_button :payment_method, :bank %>銀行振込
    </label>
    <h4 class="mt-2">お届け先</h4>
    <label>
        <%= radio_button_tag("selected_button","customer_address") %>ご自身の住所
    </label>
    <p>〒<span>
            <%= current_customer.zipcode %>
            <%= current_customer.address %>
            <%= current_customer.last_name %>
            <%= current_customer.first_name %></span></p>
    <label>
        <%= radio_button_tag("selected_button","another_address") %>登録済住所から選択
    </label><br>
    <%= f.label :customer_id %>
    <%= f.collection_select :customer_id, current_customer.shipping_addresses,:id, :shipping_address %><br>
    <!--     customer_idの箇所はローカル変数fにあるカラムであればどれでも○
 -->
    <!-- idをビューから、コントローラに渡している -->
    <label>
        <%= radio_button_tag("selected_button","new_customer_address") %>新しいお届け先
    </label>
    <%= f.fields_for(@new_address) do |na| %>
    <p>郵便番号
        <%= na.text_field :shipping_zipcode %><span>ハイフンなし</span></p>
    <p>住所
        <%= na.text_field :shipping_address %>
    </p>
    <p>宛名
        <%= na.text_field :name %>
    </p>
    <% end %>
    <%= f.submit "確認画面へ進む",class:'mt-2'%><br>
    <% end %>
</div>
<!-- ラジオボタンを使用するためには、labelタグが必須 -->
<!-- OrderHistoriesテーブル、宛名カラムをnameに統一 -->