<h4>注文情報確認</h4>

<table>
	<tr>
		<th>商品名</th>
		<th>単価(税)</th>
		<th>数量</th>
		<th>小計</th>
	</tr>
	<tr>
		<td><%= attachment_image_tag @product, :product_image, :fill,60,60 %><%= @product.product_name %></td>
		<td><%= @order_detail.tax_included %></td>
		<td><%= @cart.number %></td>
		<td><%= @order_detail.tax_included*@cart.number %></td>
	</tr>
</table>
  <tr>
  	<td>送料</td>
  	<td><%= order_history.shipping_fee %></td>
  </tr>
    <tr>
  	<td>商品合計</td>
  	<td></td>
  </tr>
  <tr>
  	<td>請求金額</td>
  	<td></td>
  </tr>
<table>

	<h3>支払方法</h3>
	<p></p>
	<h3>お届け先</h3>
	<p>〒</p>
