<%= render 'layouts/c_header' %>
<h2>配送先編集</h2>
  <div class="">
    <%= form_for(@shipping_address) do |f| %>
      <p>郵便番号</p>
      <%= f.text_field :shipping_zipcode ,class:""%>
      <p>住所</p>
      <%= f.text_field :shipping_address ,class:""%>
      <p>住所宛先</p>
      <%= f.text_field :name ,class:""%>
 
      <%= f.submit '編集する',class:"btn btn-primary"%>
 
    <% end %>
  </div>