<%= render 'layouts/c_header' %>
<div class= "container">
<h4>注文履歴一覧</h4>

<table>
	<tr>
		<th>注文日</th>
		<th>配送先</th>
		<th>注文商品</th>
		<th>支払い金額</th>
		<th>注文詳細</th>
	</tr>
	<% @customer.order_histories.each do |order_index| %>
	  <tr>
		<td><%= order_index.created_at %></td>
		<td>
			〒<%= order_index.zipcode %><br>
			<%= order_index.address %><br>
			<%= order_index.name %>
		</td>
		<td></td>
		<td><%= order_index.total_price %></td>
		<td><%= link_to "表示する", order_history_path(order_index.id), class:'btn btn-md btn-primary' %></td>
	  </tr>
    <% end %>
</table>
</div>
