<%= render 'layouts/a_header' %>
<div class="container mt-5">
<h2>ジャンル登録/一覧</h2>
<% if @category.errors.any? %>
<div id="error_explanation">
    <ul>
        <% @category.errors.full_messages.each do |message| %>
        <li>
            <%= message %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<%= form_for(@category, url: admin_categories_path) do |f| %>
<h4>ジャンル</h4>
<%= f.text_field :name ,class:"col-xs"%>
<%= f.submit '追加',class:"col-xs btn btn-primary"%>
<% end %>
<table class="table table-hover mt-3">
    <tbody>
        <tr>
            <th>ジャンル</th>
            <th></th>
            <th></th>
        </tr>
        <% @categories.each do |category| %>
        <tr>
            <td>
                <%=category.name %>
            </td>
            <!------- #カテゴリーのステータス(有効・無効)を切り替えるための記述 ------->
            <td>
                <% if category.status == "有効" %>
                <button type="button" class="btn btn-danger btn-sm btn-default">
                    <%= link_to "無効にする", admin_category_toggle_status_path(category), :style =>"color:white", method: :patch %>
                </button>
                <% else %>
                <button type="button" class="btn btn-primary btn-sm">
                    <%= link_to "有効にする", admin_category_toggle_status_path(category), :style =>"color:white", method: :patch %>
                </button>
                <% end %>
                <button type="button" class="btn btn-primary btn-sm">
                    <%= link_to "編集する", edit_admin_category_path(category.id), :style =>"color:white" %>
                </button>
        </tr>
        <% end %>
    </tbody>
</table>    
</div>
