<h1>商品編集画面</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <%= attachment_image_tag @product, :product_image, :fill, 300,300, format: "jpeg", class: "pull-left profile-img", fallback: "no_image.jpg", :width => "300", :height => "300" %>
            <%= form_for(@product) do |product| %>
            <%= product.attachment_field :product_image, class: "btn btn-lg btn-block btn-primary" %>
        </div>
        <div class="col-lg-8">
            <table>
                <tr>
                    <td><label>商品名</label></td>
                    <td>
                        <%= product.text_field :product_name %>
                    </td>
                </tr>
                <tr>
                    <td><label>商品説明</label></td>
                    <td>
                        <%= product.text_field :caption %>
                    </td>
                </tr>
                <tr>
                    <td><label>ジャンル</label></td>
                    <td><select name="categories" required>
                            <option value="">-- 選択してください --</option>
                            <option value="ケーキ">ケーキ</option>
                            <option value="焼き菓子">焼き菓子</option>
                            <option value="チョコレート">チョコレート</option>
                            <option value="和菓子">和菓子</option>
                            <option value="アイス">アイス</option>
                        </select></td>
                <tr>
                    <td><label>税抜価格</label></td>
                    <td>
                        <%= product.text_field :tax_excluded %>円</td>
                </tr>
                <tr>
                    <td><label>販売ステータス</label></td>
                    <td><select name="categories" required>
                            <option value="">-- 選択してください --</option>
                            <option value="ケーキ">ケーキ</option>
                            <option value="焼き菓子">焼き菓子</option>
                            <option value="チョコレート">チョコレート</option>
                            <option value="和菓子">和菓子</option>
                            <option value="アイス">アイス</option>
                        </select></td>
            </table>
            <%= product.submit "変更を保存", class: "btn btn-lg btn-primary" %>
            <% end %>
        </div>
    </div>
</div>