<%= render 'layouts/a_header' %>
<h1>商品編集画面</h1>
<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <%= attachment_image_tag @product, :product_image, :fill, 300,300, format: "jpeg", class: "pull-left profile-img", fallback: "no_image.jpg", :width => "300", :height => "300" %>
            <%= form_for(@product) do |f| %>
            <%= f.attachment_field :product_image, class: "btn btn-lg btn-block btn-primary" %>
        </div>
        <div class="col-lg-8">
            <table>
                <tr>
                    <td>商品名</td>
                    <td>
                        <%= f.text_field :product_name %>
                    </td>
                </tr>
                <tr>
                    <td>商品説明</td>
                    <td>
                        <%= f.text_field :caption %>
                    </td>
                </tr>
                <tr>
                    <td>ジャンル</td>
                    <td><%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "選択してください" %>
                    </td>
                <tr>
                    <td>税抜価格</td>
                    <td>
                        <%= f.text_field :tax_excluded %>円</td>
                </tr>
                <tr>
                    <td>販売ステータス</td>
                    <td>
                        <div class="badge badge-secondary"><%= @product.sale_status %></div>
                        <%= f.select :sale_status, Product.sale_statuses.keys, :selected=>Product.sale_statuses[@product.sale_status] %>に変更
                    </td>
            </table>
            <%= f.submit "変更を保存", class: "btn btn-lg btn-primary" %>
            <% end %>
        </div>
    </div>
</div>