<%= render 'layouts/a_header' %>
<% if @product.errors.any? %>
<div id="error_explanation">
    <ul>
        <% @product.errors.full_messages.each do |message| %>
        <li>
            <%= message %>
        </li>
        <% end %>
    </ul>
</div>
<% end %>
<%= form_for(@product,url:admin_products_path) do |f| %>

<h2>商品　新規登録画面</h2>
  <%= f.attachment_field :product_image %>

  <h4>商品名</h4>
  <%= f.text_field :product_name %>

  <h4>商品説明</h4>
  <%= f.text_area :caption %>

  <h4>ジャンル</h4>
    <%= f.collection_select :category_id, Category.all, :id, :name, :prompt => "選択してください" %>
  <h4>税抜価格</h4>
  <p><%= f.text_field :tax_excluded %>円</p>

  <h4>販売ステータス</h4>
  <%= f.select :sale_status, Product.sale_statuses.keys, :selected=>Product.sale_statuses[@product.sale_status] %><br>

  <%= f.submit "新規登録" %>

<% end %>