<%= render 'layouts/a_header' %>
<div class= "container mt-5">
	<%= form_for @order_history, url:admin_order_history_path do |f| %>
	<h1>注文詳細画面</h1>
	<table>
		<tr>
			<td>購入者　</td>
			<td>
			<%= link_to admin_customer_path(@order_history.customer_id) do %>
				<%= @order_history.customer.last_name %><%= @order_history.customer.first_name %>
			<% end %>
			</td>
		</tr>
		<tr>
			<td>配送先　</td>
			<td>
				〒<%= @order_history.zipcode %>
				<%= @order_history.address %>
				<%= @order_history.name %>
			</td>
		</tr>
		<tr>
			<td>支払方法　</td>
			<td><%= @order_history.payment_method_i18n %></td>
		</tr>
		<tr>
			<td>注文ステータス　</td>
			<td>
				<div class="p-1 mb-1 bg-light text-dark">現在 ： <%= @order_history.order_status %></div>
				
					<%= f.select :order_status, OrderHistory.order_statuses.keys, :selected=>OrderHistory.order_statuses[@order_history.order_status] %>
					<%= f.submit "更新", class: "btn btn-sm btn-primary" %>
			</td>
		</tr>
	</table>
	<table class="table table-hover mt-4">
		<tr>
			<th>商品名</th>
			<th>単価(税込)</th>
			<th>数量</th>
			<th>小計</th>
			<th>製作ステータス</th>
		</tr>
				<%= f.fields_for :order_details do |i| %>
		<tr>
			<td><%= i.object.product.product_name %></td>
			<td><%= i.object.tax_included %></td>
			<td><%= i.object.number %></td>
			<td><%= (i.object.product.tax_include * i.object.number).floor %></td>
			<td>
				<span class="badge badge-info"><%= i.object.prepare_status %></span>
					<%= i.select :prepare_status, OrderDetail.prepare_statuses.keys, :selected=>OrderDetail.prepare_statuses[i.object.prepare_status] %>
				<%=	i.hidden_field :id %>
			</td>
		</tr>
		<% end %>
	</table>
    <table>
		<tr>
			<td>商品合計</td>
			<td><%= @order_history.total_price %>円</td>
		</tr>
		<tr>
			<td>送料</td>
			<td><%= @order_history.shipping_fee %>円</td>
		</tr>
		<tr>
			<td>請求金額合計</td>
			<td><%= @order_history.total_price.to_i + @order_history.shipping_fee %>円</td>
		</tr>
	</table>
	<% end %>
</div>
