<%= render 'layouts/c_header' %>
<h3>お客さまログイン</h3>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field">
    <%= f.label :email, :メールアドレス　%>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, :パスワード　　　%>
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, :ログイン情報を記憶 %>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit "ログイン", class: "btn btn-success" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
