   <nav class="navbar-inverse">
        <!-- //navbarを加えると、枠が丸くなる -->
        <div class="container-fluid">
            <header>
                <div class="navbar">
                    <div class="navbar-brand">
                    <%= link_to admin_products_path do %>
                        <p>ながのCAKE</p>
                    <% end %>
                    </div>
                    <% if admin_signed_in? %>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <%= link_to "商品一覧", admin_products_path %>
                        </li>
                        <li class="">
                            <%= link_to "会員一覧", admin_customers_path %>
                        </li>
                        <li class="">
                            <%#<%= link_to "注文履歴一覧", admin_order_histories_path %>
                        </li>
                        <li class="">
                            <%= link_to "ジャンル管理", admin_categories_path %>
                        </li>
                        <li class="">
                            <%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
                        </li>
                        <li class="">
                            <%= link_to current_admin.email, "#" %>
                        </li>
                    </ul>
                    <% else %>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <%= link_to "新規登録", new_admin_registration_path %>
                        </li>
                        <li class="">
                            <%= link_to "ログイン", new_admin_session_path %>
                        </li>
                        <% end %>
                    </ul>
                </div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="検索キーワード">
                    </div>
                    <button type="submit" class="btn btn-default">検索</button>
                </form>
            </header>
        </div>
    </nav>