<nav class="navbar-inverse mb-3">
    <!-- //navbarを加えると、枠が丸くなる -->
    <div class="container-fluid">
        <header>
            <div class="navbar justify-content-end">
                <% if admin_signed_in? %>
                <ul class="nav navbar-expand navbar-dark">
                    <li class="">
                        <%= link_to "   商品一覧", admin_products_path,class:'fas fa-birthday-cake mr-3 text-dark' %>
                    </li>
                    <li class="">
                        <%= link_to "   会員一覧", admin_customers_path, class:'fas fa-users mr-3 text-dark' %>
                    </li>
                    <li class="">
                        <%= link_to "   注文一覧画面",  admin_order_histories_path, class:'fas fa-history mr-3 text-dark' %>
                    </li>
                    <li class="">
                        <%= link_to "   ジャンル管理", admin_categories_path, class:"fas fa-tasks mr-3 text-dark" %>
                    </li>
                    <li class="">
                        <%= link_to "   ログアウト", destroy_admin_session_path, class:"fas fa-sign-out-alt text-dark", method: :delete %>
                    </li>
                </ul>
                <% else %>
                <ul class="nav navbar-expand navbar-right">
                    <li class="">
                        <%= link_to "   新規登録", new_admin_registration_path, class:'fas fa-user-plus mr-4 text-dark'  %>
                    </li>
                    <li class="">
                        <%= link_to "   ログイン", new_admin_session_path, class:'fas fa-sign-in-alt text-dark' %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <div class="navbar">
                <div class="navbar-brand ">
                    <%= link_to admin_root_path do %>
                    <%= image_tag "nagano_cake.jpg" %>
                    <%end%>
                </div>
                <dl class="searchbox">
                    <%= search_form_for @search, url: admin_products_path do |f| %>
                    <div class="navbar-form navbar-left">
                        <div class="input-group">
                        　<!--検索対象のカラムを:hoge_contで示す。item_nameだったらitem_name_cont-->
                            <%= f.search_field :product_name_cont, class: "form-control col-10 mb-4", placeholder: '検索ワードを入力' %>
                            <span class="input-group-btn">
                            <%= f.submit "検索", class: 'btn btn-default' %>
                            </span>
                        </div>
                    </div>
                <% end %>
            </dl>
        </header>
    </div>
</nav>