   <nav class="navbar-inverse">
        <!-- //navbarを加えると、枠が丸くなる -->
        <div class="container-fluid">
            <header>
                <div class="navbar">
                    <div class="navbar-brand">
                    <%= link_to products_path do %>
                        <p>ながのCAKE</p>
                    <% end %>
                    </div>
                    <% if  customer_signed_in? %>
                    <!-- 右寄せになる部分 ================ -->
                    <ul class="nav navbar-nav navbar-right">
                        <!-- リンクのみ -->
                        <li>
                            <%= link_to customer_path(current_customer), class: 'btn-block' do %><span class="glyphicon glyphicon-user" aria-hidden="true">
                                <%= current_customer.last_name %>
                                <%= current_customer.first_name %>
                            </span>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to carts_path, class: 'btn-block' do %><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"> Cart</span>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to destroy_customer_session_path, method: :delete, class: "btn-block" do %><span class="glyphicon glyphicon-edit" aria-hidden="true"> Logout</span>
                            <% end %>
                        </li>
                    </ul>
                    <% else %>
                    <ul class="nav navbar-nav navbar-right">
                        <!-- リンクのみ -->
                        <li>
                            <%= link_to new_customer_registration_path, class: 'btn-block' do %><span class="glyphicon glyphicon-user" aria-hidden="true"> Guest</span>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to new_customer_registration_path, class: 'btn-block' do %><span class="glyphicon glyphicon-edit" aria-hidden="true"> Sign-up</span>
                            <% end %>
                        </li>
                        <li>
                            <%= link_to new_customer_session_path, class: 'btn-block' do %><span class="glyphicon glyphicon-log-in" aria-hidden="true"> Login</span>
                            <% end %>
                        </li>
                    </ul>
                    <% end %>
                </div>
                <form class="navbar-form navbar-left" role="search">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="検索キーワード">
                    </div>
                    <button type="submit" class="btn btn-default">検索</button>
                </form>
            </header>
        </div>
    </nav>