<!DOCTYPE html>
<html>

<head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/81cfb2a25f.js" crossorigin="anonymous"></script>
</head>

<body>
    <nav class="navbar-inverse bg-dark pb-4 mb-5">
        <!-- //navbarを加えると、枠が丸くなる -->
        <div class="container-fluid">
            <div class="navbar">
                <div class="navbar-brand">
                    <p>ながのCAKE</p>
                </div>
                <!-- ログイン時 -->
                <% if  customer_signed_in? %>
                <!-- 右寄せになる部分 ================ -->
                <ul class="nav navbar-nav navbar-right">
                    <!-- リンクのみ -->
                    <li>
                        <!--                       <%= link_to   current_customer.last_name, new_customer_registration_path, class:'fas fa-user' %> -->
                        <a href="/customers/:id" class="fas fa-user text-light">
                            <%= current_customer.last_name %>
                            <%= current_customer.first_name %></a>
                    </li>
                    <li>
                        <%= link_to "  Cart", cart_path(current_customer.id),  class:'fas fa-cart-arrow-down text-light' %>
                    </li>
                    <li>
                        <%= link_to "   カスタマーlogout", destroy_customer_session_path, method: :delete, class:"fas fa-sign-out-alt text-light" %>
                    </li>
                </ul>
                <!-- ログインしていない時 -->
                <% else %>
                <ul class="nav navbar-nav navbar-right">
                    <!-- リンクのみ -->
                    <li>
                        <%= link_to "    Guest", new_customer_registration_path, class:"fas fa-user text-light" %>
                    </li>
                    <li>
                        <%= link_to "   Sign-up", new_customer_registration_path, class:'fas fa-user-plus text-light' %>
                    </li>
                    <li>
                        <%= link_to "   login", new_customer_session_path, class:'fas fa-sign-in-alt text-light' %>
                    </li>
                </ul>
                <% end %>
                <!----------------------------admin--------------------------------->
                <% if admin_signed_in? %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <%= link_to "   商品一覧", admin_products_path,class:'fas fa-birthday-cake text-light' %>
                    </li>
                    <li class="">
                        <%= link_to "   会員一覧", admin_customers_path, class:'fas fa-users text-light' %>
                    </li>
                    <li class="">
                        <%= link_to "   注文履歴一覧", admin_order_histories_path, class:'fas fa-history text-light' %>
                    </li>
                    <li class="">
                        <%= link_to "   ジャンル管理", admin_categories_path, class:"fas fa-tasks text-light" %>
                    </li>
                    <li class="">
                        <%= link_to "   アドミンログアウト", destroy_admin_session_path, class:"fas fa-sign-out-alt text-light", method: :delete %>
                    </li>
                    <li class="">
                        <%= link_to current_admin.email, "#" %>
                    </li>
                </ul>
                <% else %>
                <ul class="nav navbar-nav navbar-right">
                    <li class="">
                        <%= link_to "   アドミン新規登録", new_admin_registration_path, class:'fas fa-user-plus text-light'  %>
                    </li>
                    <li class="">
                        <%= link_to "   アドミンログイン", new_admin_session_path, class:'fas fa-sign-in-alt text-light' %>
                    </li>
                    <% end %>
                </ul>
            </div>
            <!-- 検索バー -->
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="検索キーワード">
                </div>
                <button type="submit" class="btn btn-default">検索</button>
            </form>
        </div>
    </nav>
    </div>
    </div>

    </div>
    <%= yield %>
    <footer class="text-center fixed-bottom">
        <p>@CopyRight Infratop.inc</p>
    </footer>
</body>

</html>