<!DOCTYPE html>
<html>

<head>
    <title>NaganoCake</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/81cfb2a25f.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
</head>

<body>
    <%= yield %>
    <footer class="text-center">
        <i class="fab fa-instagram"></i>
        <i class="fab fa-facebook-square"></i>
        <i class="fab fa-twitter"></i>
        <h6>〒794-0062 愛媛県今治市馬越町3丁目3-30</h6>
        <h6>TEL・FAX：0898-55-8868</h6>
        <h6>E-Mail：info@solum87.com</h6>
        <h6>定休日：日曜日、月曜日、祝日</h6>
        <div class="text-right"><h6>@CopyRight Infratop.inc</h6></div>
    </footer>
</body>
</html>